{:tasks
 {:requires ([babashka.fs :as fs]
             [babashka.cli :as cli]
             [babashka.process :refer [shell]])

  :init (do
          (def opts (let [spec {:to {:default 10 :coerce :long}
                                :from {:default 1 :coerce :long}
                                :index {:default 0 :coerce :long}
                                :warmup {:default 5 :coerce :long}
                                :object {:default "g" :coerce :string}}]
                      (cli/parse-opts *command-line-args* {:spec spec})))
          (def tag (.format (java.time.LocalDateTime/now)
                            (java.time.format.DateTimeFormatter/ofPattern "yyyy-MM-dd-HH-mm-ss"))))

  build (let [file-name "nulls"
              file-jar (str file-name ".jar")
              ->paths (fn [] (fs/glob "./target/uberjar" "*-standalone.jar"))
              run-native (str "native-image -jar "
                              (first (->paths))
                              " --no-server"
                              " --no-fallback"
                              " --features=clj_easy.graal_build_time.InitClojureClasses"
                              " "
                              file-name)]
          (when (fs/exists? file-name)
            (fs/delete file-name))
          (shell "lein uberjar")
          (shell run-native))

  plot (let [{:keys [path]} (cli/parse-opts *command-line-args* {:spec {:path {:coerce :string}}})]
         (shell (str "./script/plot.py" " " path)))

  enumerate (let [{:keys [object from to warmup]} opts]
              (shell (str "hyperfine "
                          "--warmup " warmup " "
                          "--shell none "
                          "--export-json ./data/enumerate-" from object to "-" tag ".json "
                          "--parameter-scan points " from " " to " "
                          "'./nulls -n {points} -o " object "'")))

  generate (let [{:keys [object from to index warmup]} opts]
             (shell (str "hyperfine "
                         "--warmup " warmup " "
                         "--shell none "
                         "--export-json ./data/generate-" from object to "-" tag ".json "
                         "--parameter-scan points " from " " to " "
                         "'./nulls -n {points} -o " object " -m " index "'")))}}
